.orange-mark {
  position: relative;
  padding-top: $spacer * 3;
  margin-top: $spacer * 3;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 90px;
    margin-left: 0;
    height: 6px;
    background-color: $utorange;
    top: 0;
    bottom: auto;
  }
  &.widget-title {
    padding-top: $spacer;
    margin-top: $spacer;
  }
}
