---
layout: default
---

{% comment %}

    <h3>Documentation</h3>

  
    {% if page.usage %}<p><strong>Usage:</strong> {{ page.usage }}</p>{% endif %}
  
    <div class="row">
      {% if page.dos %}<div class="col"><h5>Do</h5>{% endif %}
      {% if page.dos %}{{ page.dos | markdownify }}</div>{% endif %}
      {% if page.donts %}<div class="col"><h5>Don't</h5>{% endif %}
      {% if page.donts %}{{ page.donts | markdownify }}</div>{% endif %}
    </div>

    {% if page.notes %}
      <h4 class="text-uppercase">Special Notes:</h4>
      <p>{{ page.notes }}</p>
    {% endif %}


<!--     {% if page.scss %}<p class="entry--last"><strong>SCSS partial:</strong> <a href="https://github.com/UniversityOfTennessee/ut-thehill/tree/master/src/library/scss/ut-ui/{{ page.scss }}">{{ page.scss }}</a></p>{% endif %} -->




{% endcomment %}
<div class="component" id="guide-{{ page.title | slugify }}" >


    <h4>Example</h4>

    <div class="component-example">{{ page.content }}</div>


<hr>
<div class="card">
  <div class="card-body">
    <h3>Code</h3>
        <h4>HTML</h4>
      {% highlight html %}{{ page.content }}{% endhighlight %}

    {% comment %}
    {% if page.shortcode %}<h5>Available as a shortcode in the WordPress theme</h5>{% endif %}
    {% if page.shortcode %}<pre>{{ page.shortcode }}</pre>{% endif %}
    {% endcomment %}

  </div>
</div>
</div>
    {% if page.status=="production"  %}
      <p class="alert alert-success mt-1"><strong>Status</strong>: Production</p> 
    {% endif %}
    {% if page.status=="staging"  %}
      <p class="alert alert-primary mt-1"><strong>Status</strong>: Staging</p> 
    {% endif %}  
    {% if page.status=="testing"  %}
      <p class="alert alert-secondary mt-1"><strong>Status</strong>: Testing</p> 
    {% endif %}  
    {% if page.status=="development"  %}
      <p class="alert alert-info mt-1"><strong>Status</strong>: Development</p> 
    {% endif %}  
    {% if page.status=="backlog"  %}
      <p class="alert alert-danger mt-1"><strong>Status</strong>: Backlog</p> 
    {% endif %} 
<br class="clear">





