---
layout: default
---



            {{content}}
      {% assign componentsByType = site.patterns | group_by:"type" %}
      <div class="row">
        {% for type in componentsByType %}
          <div class="col">
              <h5>{{ type.name | capitalize }}</h5>
              <ul class="list-unstyled">
                  {% for entry in type.items %}
                    <li><a href="{{ entry.url }}">{% if entry.url == page.url %}<strong>{% endif %}{{ entry.title }}{% if entry.url == page.url %}</strong>{% endif %}</a></li>
                  {% endfor %}
              </ul>
          </div>
        {% endfor %}
      </div>

