---
layout: wide
---



{{content}}
{% assign componentsByType = site.patterns | group_by:"type" %}
<div class="row">
  {% for type in componentsByType %}
  <div class="col-12 col-md-10 col-lg-7 col-xl-4 mx-auto">
    <table class="table">
        <thead class="thead-dark"><th colspan="2">{{ type.name | capitalize }}</th></thead>
            {% for entry in type.items %}
              <tr>
                <td><a href="{{ entry.url }}">{% if entry.url == page.url %}<strong>{% endif %}{{ entry.title }}{% if entry.url == page.url %}</strong>{% endif %}</a></td>
                <td class="text-right">
              {% if entry.status=="production"  %}
                <span class="badge badge-success">Production</span> 
              {% endif %}
              {% if entry.status=="staging"  %}
                <span class="badge badge-primary align-self-end">Staging</span> 
              {% endif %}  
              {% if entry.status=="testing"  %}
                <span class="badge badge-secondary">Testing</span> 
              {% endif %}  
              {% if entry.status=="development"  %}
                <span class="badge badge-info">Development</span> 
              {% endif %}  
              {% if entry.status=="backlog"  %}
                <span class="badge badge-danger align-self-end">Backlog</span> 
              {% endif %}  
            </td>

              </tr>
            {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>

