---
layout: default
section: Blog
---



    <article class="post">

        <header class="post-header">
            <h1 class="post-title mt-5">{{ page.title }}</h1>
            <p class="small"><time class="post-date" datetime="{{ page.date | date:"%Y-%M-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time></p>

        </header>
        <hr>
        <section class="post-content">
            {{content}}
        </section>



        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            <hr>
              <p class="post-date small"><time class="post-date" datetime="{{ page.date | date:"%Y-%M-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time></p>

        </footer>

    </article>