---
title: general
---
<!DOCTYPE html>

<html lang="en-US">
<head>
  {% include head.html %}
</head>

<body>


  <a class="sr-only sr-only-focusable" href="#content" title="Skip to content">Skip to content</a>
  <a class="sr-only sr-only-focusable" href="#mainnav" title="Skip to  main navigation">Skip to main navigation</a>
  <a class="sr-only sr-only-focusable" href="https://oed.utk.edu/ada/campus-accessibility/" title="Report an accessibility issue">Report an accessibility issue</a>

  <div class="container-fluid" id="ut_identifier">
    <div class="row justify-content-start pt-2 pb-4 align-items-center">
      <a href="https://www.utk.edu/" class="col-auto">
        {% include utk_logo_header.html %}
      </a>
      <div class="col-auto align-items-center">
        <h1 class="site-title">UT Design System <small>alpha</small></h1>
      </div>
    </div>
  </div>

{% include nav_horizontal.html %}

<div class="container">
  <div class="row">
    <main id="content"  class="col">
        <h1 class="page-title orange-mark">{{ page.title }}</h1>
      
      {{ content }}
    </main>
  </div><!-- .row -->
</div><!-- .container-fluid -->


{% include footer.html %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


		</body>
</html>