#universal-header,
.universal-header {
  font-size: 1rem;
  background-color: $utcoolsmokey;
  border-top: 0.45 * $spacer solid $utorange;
  padding: calc($spacer / 4);
  ul {
    align-content: center;
    align-items: center;
    li {
      display: flex;
      align-content: center;
      &:hover {
        background-color: #445562;
      }
    }
  }
}
.btn-search {
  display: flex;
  align-content: center;
  padding: 0.09rem 0 0.07rem 0;
  font-size: var(--wp--custom--typography--tiny);
  gap: calc($spacer / 4);
}
