


<div class="component" id="guide-{{ entry.title | slugify }}" >
  

<h3 class="card-title"  >{{ entry.title }}
  {% if entry.status=="beta"  %}
    <span class="badge badge-warning">Under Review</span>
  {% endif %}
  {% if entry.status=="production"  %}
    <span class="badge badge-info">Ready</span>
  {% endif %}
  {% if entry.status=="deprecated"  %}
    <span class="badge badge-info">Deprecated</span>
  {% endif %}
</h3>
{% if entry.notes %}
<div class="card  card-block box-highlight">
  <h4 class="text-uppercase">Special Notes:</h4>
  <p>{{ entry.notes }}</p>
</div>
{% endif %}


<ul class="nav nav-tabs" id="myTab{{ entry.title | slugify }}" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="usage-tab{{ entry.title | slugify }}" data-toggle="tab" href="#usage{{ entry.title | slugify }}" role="tab" aria-controls="home" aria-selected="true">Usage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="short-tab{{ entry.title | slugify }}" data-toggle="tab" href="#short{{ entry.title | slugify }}" role="tab" aria-controls="profile" aria-selected="false">WordPress Theme Shortcode</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="html-tab{{ entry.title | slugify }}" data-toggle="tab" href="#html{{ entry.title | slugify }}" role="tab" aria-controls="contact" aria-selected="false">HTML</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent{{ entry.title | slugify }}">

  <div class="tab-pane fade show active" id="usage{{ entry.title | slugify }}" role="tabpanel" aria-labelledby="home-tab">
    {% if entry.usage %}<p><strong>Usage:</strong> {{ entry.usage }}</p>{% endif %}
    <div class="row">
    {% if entry.dos %}<div class="half"><h5>Do</h5>{% endif %}
    {% if entry.dos %}{{ entry.dos | markdownify }}</div>{% endif %}
    
    
    {% if entry.donts %}<div class="half"><h5>Don't</h5>{% endif %}
    {% if entry.donts %}{{ entry.donts | markdownify }}</div>{% endif %}
      {% if entry.scss %}<p class="entry--last"><strong>SCSS partial:</strong> <a href="https://github.com/UniversityOfTennessee/ut-thehill/tree/master/src/library/scss/ut-ui/{{ entry.scss }}">{{ entry.scss }}</a></p>{% endif %}

    <p><strong>Bookmark:</strong> <a href="{{ site.baseurl }}{{ entry.url }}">Direct link to {{ entry.title }} pattern</a></p> 


  {% if entry.status=="beta"  %}
    <p>This style is under review. Do not use in production.</p>
  {% endif %}
  {% if entry.status=="production"  %}
    <p><strong>Status</strong>: Ready</p>
  {% endif %}


    </div>
    
  </div>



  <div class="tab-pane fade" id="short{{ entry.title | slugify }}" role="tabpanel" aria-labelledby="profile-tab">
    {% if entry.shortcode %}<h5>Available as a shortcode in the WordPress theme</h5>{% endif %}
    {% if entry.shortcode %}<pre>{{ entry.shortcode }}</pre>{% endif %}
  </div>

  <div class="tab-pane fade" id="html{{ entry.title | slugify }}" role="tabpanel" aria-labelledby="contact-tab">
      <h3>HTML</h3>
      {% highlight html %}{{ entry.content }}{% endhighlight %}
  </div>


</div>



<br class="clear">



<div class="component-card">
  <div class="component-card-body">

      {% if entry.module %}<p><strong>Include partial:</strong> <a href="https://github.com{{ site.repository | prepend: '/' | append: '/blob/master/' }}{{ entry.module }}">{{ entry.module }}</a></p>{% endif %}




    <h5>EXAMPLE</h5>

    <div class="component-example">{{ entry.content }}</div>



  </div>
  <div class="component-card-footer text-muted">





  </div>
</div>

</div>
<br class="clear">