	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
  <!--[if lt IE 10]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script></script><![endif]-->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//images.utk.edu/styles/thehill/interface/icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//images.utk.edu/styles/thehill/interface/icon-72x72.png">
  <link rel="shortcut icon" href="//images.utk.edu/styles/thehill/interface/icon-114x114.png">
  <link rel="shortcut icon" href="//images.utk.edu/styles/thehill/interface/favicon.gif">	
  <link rel='stylesheet' id='utthehill-style-css'  href='http://images.utk.edu/designsystem/2020/assets/css/style.css' type='text/css' media='all' />

{% comment %}
  <link href="{{ site.baseurl }}/assets/style.css" rel="stylesheet">



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-185715-67"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-185715-67');
</script>
{% endcomment %}

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6831932/7665612/css/fonts.css" />