<nav class="navbar navbar-expand-lg px-0 mt-lg-4 navbar-light bg-lg-white">
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    {% if page.section=="templates"  %}
      <ul class="list-unstyled">
          <li>
              <h5>Full-width</h5>
              <ul class="list-unstyled">
                    <li><a href="{{ site.baseurl }}templates/layout-full-width/">Full width example</a></li>
                    <li><a href="{{ site.baseurl }}templates/html-layout-full-width/">Full Width Code</a></li>
              </ul>
          </li>
          <li>
              <h5>Wide</h5>
              <ul class="list-unstyled">
                    <li><a href="{{ site.baseurl }}templates/layout-wide/">Wide example</a></li>
                    <li><a href="{{ site.baseurl }}templates/html-layout-wide/">Wide Code</a></li>
              </ul>
          </li>
      </ul>
    {% endif %}


{% if page.type=="Components" %}
{% assign patternComponents = site.patterns | where: "type", "Components" %}
<ul class="list-unstyled">
  {% for patternComponent in patternComponents %}
    <li>
      <a href="{{ patternComponent.url }}">
       {% if entry.url == patternComponent.url %}<strong>{% endif %} {{ patternComponent.title }}{% if entry.url == patternComponent.url %}</strong>{% endif %}
      </a>
    </li>
  {%endfor%}
</ul>
{% endif %}

{% if page.type=="Regions" %}
{% assign patternRegions = site.patterns | where: "type", "Regions" %}
<ul class="list-unstyled">
  {% for patternRegion in patternRegions %}
    <li>
      <a href="{{ patternRegion.url }}">
        {% if entry.url == patternRegion.url %}<strong>{% endif %}{{ patternRegion.title }}{% if entry.url == patternRegion.url %}</strong>{% endif %}
      </a>
    </li>
  {%endfor%}
</ul>
{% endif %}

{% if page.type=="Styles" %}
{% assign patternStyles = site.patterns | where: "type", "Styles" %}
<ul class="list-unstyled">
  {% for patternStyle in patternStyles %}
    <li>
      <a href="{{ patternStyle.url }}">
        {% if entry.url == patternStyle.url %}<strong>{% endif %}{{ patternStyle.title }}{% if entry.url == patternStyle.url %}</strong>{% endif %}
      </a>
    </li>
  {%endfor%}
</ul>
{% endif %}




    {%comment%}
    {% if page.title=="User Interface Components" or page.layout == "collection" %}
      {% assign componentsByType = site.patterns | group_by:"type" %}
      <ul class="list-unstyled">
        {% for type in componentsByType %}
          <li>
              <h5>{{ type.name | capitalize }}</h5>
              <ul class="list-unstyled">
                  {% for entry in type.items %}
                    <li><a href="{{ entry.url }}">{% if entry.url == page.url %}<strong>{% endif %}{{ entry.title }}{% if entry.url == page.url %}</strong>{% endif %}</a></li>
                  {% endfor %}
              </ul>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {%endcomment%}


    {% if page.section=="accessibility"  %}
        <ul class="list-unstyled">
          <li class="nav-item{% if page.title=="General"  %} active{% endif %}">
            <a   href="{{ site.baseurl }}accessibility/general/">General</a>
          </li>
          <li class="nav-item{% if page.title=="Contrast"  %} active{% endif %}">
            <a  href="{{ site.baseurl }}accessibility/contrast/">Contrast</a>
          </li>
          <li class="nav-item{% if page.title=="PDFs"  %} active{% endif %}">
            <a  href="{{ site.baseurl }}accessibility/pdfs/">PDFs</a>
          </li>
          <li class="nav-item{% if page.title=="Graphics"  %} active{% endif %}">
            <a  href="{{ site.baseurl }}accessibility/graphics/">Graphics</a>
          </li>
          <li class="nav-item{% if page.title=="Signage"  %} active{% endif %}">
            <a href="{{ site.baseurl }}accessibility/signage/">Signage</a>
          </li>
          <li class="nav-item{% if page.title=="Social Media"  %} active{% endif %}">
            <a  href="{{ site.baseurl }}accessibility/socialmedia/">Social Media</a>
          </li>
        </ul>
    {% endif %}
    {% if page.section=="documentation"  %}
        <ul class="list-unstyled">
          <li class="nav-item{% if page.title=="General"  %} active{% endif %}">
            <a   href="{{ site.baseurl }}documentation/changelog/">Change Log</a>
          </li>
          <li class="nav-item{% if page.title=="General"  %} active{% endif %}">
            <a   href="{{ site.baseurl }}documentation/roadmap/">Roadmap</a>
          </li>
          <li class="nav-item{% if page.title=="General"  %} active{% endif %}">
            <a   href="{{ site.baseurl }}documentation/type/">Type</a>
          </li>
          <li class="nav-item{% if page.title=="General"  %} active{% endif %}">
            <a   href="{{ site.baseurl }}documentation/source-files/">Working with Source Files</a>
          </li>
        </ul>
    {% endif %}


  </div>

</nav>

